html {
	@apply bg-light-500;
}

html * {
	@apply transition duration-500;
}

a[aria-current="true"] {
	@apply bg-light-900;
}

main {
	@apply flex flex-col min-h-100dvh;
}

header {
	@apply p-4 flex items-center gap-8 bg-light-900;
}

img.logo {
	@apply w-20;
}

img.cover {
	@apply max-w-120;
}

nav {
	@apply flex flex-wrap items-center w-full;
}

footer {
	@apply p-2 bg-dark-200 text-light-900;
}
